[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
haggle = "DRXGcVHj1GZSc7wD4LTnrM8RJ1shWH93s1zKCXtJtGbq"

[programs.devnet]
haggle = "DRXGcVHj1GZSc7wD4LTnrM8RJ1shWH93s1zKCXtJtGbq"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.test.ts"
